//colors
$bg-color: #ffffff;
$primary-color: #00425a;
$color-small: rgba(128, 128, 128, 0.915);
$color-dark: #363949;
$color-icon: #2384b4;
$border-color: rgba(128, 128, 128, 0.378);
$color-white: #f1f1f1f1;
.changePasswordContainer {
  width: 90%;
  .changePasswordContents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .changePasswordLeft {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      .changePasswordHeader {
        display: flex;
        gap: 1rem;
        font-size: 22px;
        color: $color-dark;
        .goBackIcon {
          &:hover {
            cursor: pointer;
          }
        }
      }
      .changePasswordContainer {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        .changePasswordInput {
          display: flex;
          flex-direction: column;
          gap: 5px;
          .changePasswordWrapper {
            display: flex;
            align-items: center;
            position: relative;
          }
          .passwordLabel {
            text-transform: capitalize;
            font-weight: 600;
            font-size: 12px;
            color: $color-dark;
          }
          .password-box {
            outline: 0;
            padding: 5px;
            min-height: 25px;
            width: 350px;
            border: 1px solid $color-dark;
          }
          .passwordToggleBtn {
            background: none;
            border: none;
            cursor: pointer;
            color: $primary-color;
            font-weight: bold;
            border: 1px solid $color-dark;
            min-height: 37px;
            font-size: 18px;
            border-left: 0;
          }
        }
        .submit-btn {
          .submitBtn {
            border: 0;
            outline: 0;
            background-color: $primary-color;
            color: lighten($color-white, 5%);
            height: 40px;
            font-size: 15px;
            width: max-content;
            padding: 10px 20px;
            transition: 300ms all ease-in-out;
            font-weight: 600;
            &:hover {
              cursor: pointer;
              background-color: darken($primary-color, 5%);
            }
          }
        }
      }
    }
    .right {
      background-color: $color-white;
      height: max-content;
      width: max-content;
      padding: 10px 20px;
      margin-top: 4rem;
      .rightHeader {
        font-size: 20px;
      }
      .desc {
        line-height: 1.5;
        color: $color-dark;
      }
      .criterias {
        font-size: 15px;
        line-height: 1.5;
        color: $color-dark;
      }
    }
  }
}
