//colors
$bg-color: #FFFFFF;
$primary-color: #00425A;
.footerContainer{
    position: fixed;
    bottom:0;
    width:100%;
    background-color: $bg-color;
    min-height: 7vh;
    box-sizing: border-box;
    z-index: 4;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 14px;
    }
}