//colors
$bg-color: #ffffff;
$primary-color: #00425a;
.homepageContainer {
  background-color: $bg-color;
  height: 100vh;
  .homepageContents {
    display: flex;
    flex-direction: column;
    height: 100%;
    .homepage__top {
      display: flex;
      flex-direction: column;
      position: fixed;
      width: 100%;
      height: 40px;
      z-index: 1000;
    }
    .middle {
      display: flex;
      flex-direction: row;
      margin-top: 40px;
      height: calc(100vh - 40px);
      .homepageContents__left {
        flex: 1;
        overflow-y: auto;
        position: sticky;
        top: 40px;
        height: calc(100vh - 40px);
        &::-webkit-scrollbar {
          display: none;
        }
        scrollbar-width: none;
      }
      .homepageContents__right {
        margin: 1.5rem;
        flex: 13;
        overflow-y: auto;
        height: calc(100vh - 40px - 3rem);
        &::-webkit-scrollbar {
          display: none;
        }
        scrollbar-width: none;
        .cardArea {
          display: flex;
          align-items: center;
          padding: 10px 20px;
          justify-content: center;
          gap: 2rem;
        }
      }
    }
  }
}
